body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#fff0f5;
    text-align:center;
}

header{
    background:#c2185b;
    color:white;
    padding:40px;
}

section{
    padding:50px;
}

h2{
    color:#c2185b;
}

button{
    background:#e91e63;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#ad1457;
}

footer{
    margin-top:60px;
    background:#222;
    color:white;
    padding:20px;
}
