body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#fff0f5;
    text-align:center;
}

header{
    background:#c2185b;
    color:white;
    padding:40px;
}

section{
    padding:50px;
}

h2{
    color:#c2185b;
}

button{
    background:#e91e63;
    color:white;
    border:none;
    padding:15px 35px;
    font-size:18px;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    background:#ad1457;
}

footer{
    margin-top:60px;
    background:#222;
    color:white;
    padding:20px;
}
nav{
    background:#880e4f;
    padding:18px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:20px;
    font-size:18px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd1e6;
}

.banner{
    background: linear-gradient(135deg,#ff69b4,#880e4f);
    color:white;
    text-align:center;
    padding:80px 20px;
}

.banner h2{
    font-size:42px;
    margin-bottom:15px;
}

.banner p{
    font-size:20px;
}
